extends layout.pug

block header-content
    header
        .container
            .row.py-3 
                .col-6.col-sm-4.col-lg-2.mx-auto
                    img.img-fluid(src="https://www.rewardtrax.com/brandeddemo15/images/CloudLogo.png", alt="")
            .row
                .col-12.bg-light
                    include ./includes/header-nav-logged-in.pug

block main-content
    main.d-flex.flex-column.flex-grow-1.py-4
        .container
            .row.mb-4 
                .col-12.col-md-8.screen-title
                    h1.text-center My Claim History
                    p.text-center.lead View your past claims.
            .row.mb-4
                .col-12
                    h5.widget-title.bg-primary.text-light.py-2.p-2 Claims
                .col-12
                    #claimsGrid
            
            
