extends layout.pug

block header-content
    header
        .container
            .row.py-3 
                .col-6.col-sm-4.col-lg-2.mx-auto
                    img.img-fluid(src="https://www.rewardtrax.com/brandeddemo15/images/CloudLogo.png", alt="")
            .row
                .col-12.bg-light
                    include ./includes/header-nav-logged-in.pug

block main-content
    main.d-flex.flex-column.flex-grow-1.py-4
        .container
            include ../templates/includes/shopping-navbar.pug
            include ../templates/includes/shopping-header-image.pug

            .row.mb-3
                .col-12
                    h3.section-title Reward Yourself
                .col-12
                    include ../templates/includes/shopping-carousel.pug



            .row.mb-3
                .col-12
                    h3.section-title Featured Departments
                .col-12
                    include ../templates/includes/shopping-featured-categories.pug
            .row.mb-3
                include ../templates/includes/shoping-disclaimer.pug





