extends layout.pug

block script-stylesheet
    link(rel="stylesheet", href="../../dist/style.css")



block main-content
    main.d-flex.flex-column.flex-grow-1.py-4
        .container
            include ../templates/includes/shopping-navbar.pug
            include ../templates/includes/shopping-header-image.pug

            .row.mb-3
                .col-12
                    h3.section-title Reward Yourself
                .col-12
                    include ../templates/includes/shopping-carousel.pug



            .row.mb-3
                .col-12
                    h3.section-title Featured Departments
                .col-12
                    include ../templates/includes/shopping-featured-categories.pug
            .row.mb-3
                include ../templates/includes/shoping-disclaimer.pug





