extends ../../layout.pug

block header-content
    header.bg-primary.py-4.text-center.text-light
        .display-4 REWARDING ADVENTURES
        p.text-warning WHEN WAS THE LAST TIME YOU REWARDED YOURSELF?

block main-content
        main.d-flex.flex-column.flex-grow-1.justify-content-center.py-4(style="background-image: url('https://www.rewardtrax.com/brandeddemo15/images/ChairsOnBeach.png'); background-position: bottom;")
            .container
                .row.mx-auto
                    .col-12.col-lg-7.col-xl-6.text-light.p-3.mb-2.mb-lg-0.h-100
                        h1 Welcome!
                        p Sign in below to manage your account.
                        form
                            .mb-3
                                label.form-label(for='exampleInputEmail1') Email address
                                input#exampleInputEmail1.form-control(type='email' aria-describedby='emailHelp')
                                
                            .mb-3
                                label.form-label(for='exampleInputPassword1') Password
                                input#exampleInputPassword1.form-control(type='password')
                            button.btn.btn-secondary(type='submit') Submit


               
block footer-content
    footer
        .container-fluid
            .row
                .col-12.bg-white
                    ul.nav.justify-content-center
                        li.nav-item
                            a.nav-link(href="#") About Us
                        li.nav-item
                            a.nav-link(href="#") Rules
                        li.nav-item
                            a.nav-link(href="#") Privacy Policy
                        li.nav-item
                            a.nav-link(href="#") Terms of Use
            .row
                .col-12.bg-primary
                    small.d-block.text-center.text-light.py-3 Copyright &copy; 2021 RewardTrax | All rights reserved.



        