extends layout.pug

block main-content
    main.d-flex.flex-column.flex-grow-1.py-4
        .container
            .row.mb-4 
                .col-12.col-md-8.screen-title
                    h1.text-center My Claim History
                    p.text-center.lead View your past claims.
            .row.mb-4
                .col-12
                    h5.widget-title.bg-primary.text-light.py-2.p-2 Claims
                .col-12
                    #claimsGrid
            
            
