extends layout.pug

block header-content
    include demo15-header--public.pug

block main-content
        main.d-flex.flex-column.flex-grow-1.justify-content-center.py-4(style="background-image: url('https://www.rewardtrax.com/brandeddemo15/images/ChairsOnBeach.png'); background-position: bottom; background-repeat:no-repeat; background-size: cover;")
            .container
                .row.mx-auto.d-flex.justify-content-center
                    .col-12.col-md-6.col-xxl-4.p-3.demo15__login__wrapper
                        h2 Have you been invited to join our program?
                        p Enter your Invitation ID below:
                        form
                            .mb-3
                                label.form-label(for='invitationID') Invitation ID
                                input#invitationID.form-control(type='text' aria-describedby='invitationIDHelp')
                                
                            .mb-3
                                small.d-block If you're already registered, 
                                     a(href="./demo15-login.html") click here
                                     |  to login.
                            a.btn.btn-primary(href="./demo15-enroll.html") Continue to Enrollment


               
block footer-content
    include demo15-footer--public.pug