footer
    .container-fluid
        .row.small
            .col-12.bg-white
                ul.nav.justify-content-center
                    li.nav-item
                        a.nav-link(href="all-wall.html") All Wall
                    li.nav-item
                        a.nav-link(href="rules.html") Rules
                    li.nav-item
                        a.nav-link(href="privacy-policy.html") Privacy Policy
                    li.nav-item
                        a.nav-link(href="terms.html") Terms of Use
        .row
            .col-12.bg-primary
                small.d-block.text-center.text-light.py-3 Copyright &copy; 2021 RewardTrax | All rights reserved.