extends layout.pug

block header-content
    include demo15-header--public.pug

block main-content
        main.d-flex.flex-column.flex-grow-1.justify-content-center.py-4(style="background-image: url('https://www.rewardtrax.com/brandeddemo15/images/ChairsOnBeach.png'); background-position: bottom; background-repeat:no-repeat; background-size: cover;")
            .container
                .row.mx-auto.d-flex.justify-content-center
                    .col-12.col-md-6.col-xxl-4.p-3.demo15__login__wrapper
                        h1 Welcome!
                        p Sign in below to manage your account.
                        form
                            .mb-3
                                label.form-label(for='exampleInputEmail1') Email address
                                input#exampleInputEmail1.form-control(type='email' aria-describedby='emailHelp')
                                
                            .mb-3
                                label.form-label(for='exampleInputPassword1') Password
                                input#exampleInputPassword1.form-control(type='password')
                            .row.justify-content-between.align-items-center
                                .col-4
                                    a.btn.btn-primary.w-100(href="./demo15-home.html") Login

                                .col-6.text-end
                                    a.mb-0(href="#") Forgot Your Password


               
block footer-content
    include demo15-footer--public.pug
        