extends layout.pug

block header-content
    include demo15-header--public.pug

block main-content
        main.d-flex.flex-column.flex-grow-1.justify-content-center.py-4(style="background-image: url('https://www.rewardtrax.com/brandeddemo15/images/ChairsOnBeach.png'); background-position: bottom; background-repeat:no-repeat; background-size: cover;")
            .container
                .row.mx-auto.d-flex.justify-content-center
                    .col-12.col-md-6.p-3.demo15__login__wrapper
                        h1 Device Verification
                        p.lead.text-danger You are attempting to sign in from an unrecognized device.
                        p A verification code has been emailed to your registered email address. Please enter it below. If you do not have access to your registered email address, please contact us via email at support@rewardhq-cs.com.
                        .alert.alert-danger(role="alert")
                            p.mb-0 NOTICE: If you login again, it will generate a new email and new code. This action will invalidate previous codes. Verification codes expire after 20 minutes. 
                        form
                            .mb-3
                                label.form-label(for='device-verification-code1') Enter Verification Code
                                input#device-verification-code1.form-control(type='email' aria-describedby='device-verification-codeHelp')
                            .mb-3
                                button.btn.btn-primary(type='submit') Submit Verification Code
                            .mb-3
                                small.d-block Device verification uses cookies to help protect you. Please be sure your browser does not block cookies from this site. If your cookies are blocked or deleted, then you will have to verify this device again. 


               
block footer-content
    include demo15-footer--public.pug