extends layout.pug

block main-content
    main.d-flex.flex-column.flex-grow-1.py-4
        .container
            include ../../includes/shopping-navbar.pug
            include ../../includes/shopping-header-image.pug

            .row.mb-3
                .col-12
                    h3.section-title Reward Yourself
                .col-12
                    include ../../includes/shopping-carousel.pug



            .row.mb-3
                .col-12
                    h3.section-title Featured Departments
                .col-12
                    include ../../includes/shopping-featured-categories.pug
            .row.mb-3
                include ../../includes/shoping-disclaimer.pug

block page-scripts
    //- script(src='https://ewright2021.github.io/Rewardtrax-V6/src/js/shopping.js')
    
    


