.col-12.mt-3.text-start#checkout-purchasing-info
    small.d-block.mb-2.fw-bold Purchasing Information
    small.d-block.mb-3 The points required to purchase your items will be deducted from your account balance. 
    small.d-block.mb-3.fw-bold Here's how our order processing works:
    ul.small
        li  First, we convert your points to a currency equivalent. For example, we may convert your points into a US dollar equivalent.
        li Next, using a background program account for currency transactions, we make the purchase of your item from a supplier on your behalf, for instance in dollars.
        li Then, we subtract the corresponding number of points from your point account. The items are shipped to you
            span.fst-italic  directly from the supplier.