nav.navbar.navbar-expand-xl.navbar-light.bg-light
    .container-fluid.justify-content-end
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.me-auto.mb-2.mb-lg-0.mx-md-auto
                li.nav-item
                    a.nav-link.active(aria-current='page' href='../dist/templates/themes/demo-15/demo15-home.html') Welcome
                li.nav-item
                    a.nav-link(href='../dist/templates/themes/demo-15/my-account.html') My Account
                li.nav-item
                    a.nav-link(href='../dist/templates/themes/demo-15/quick-points.html') Quick Points
                li.nav-item
                    a.nav-link(href='../dist/templates/themes/demo-15/performance-tracking.html') Performance Tracking
                li.nav-item
                    a.nav-link(href='../dist/templates/themes/demo-15/leaderboard.html') Leaderboard
                li.nav-item
                    a.nav-link(href='../dist/templates/themes/demo-15/learn-n-earn.html') Learn & Earn
                li.nav-item
                    a.nav-link(href='../dist/templates/themes/demo-15/shopping.html') Shopping
                li.nav-item
                    a.nav-link(href='../dist/templates/themes/demo-15/profile.html') Profile
                li.nav-item
                    a.nav-link(href='../dist/templates/themes/demo-15/contact.html') Contact
                li.nav-item.d-none
                    a.nav-link(href='../dist/templates/themes/demo-15/promotions.html') Promotions
                li.nav-item
                    a.nav-link.text-secondary(href='../dist/templates/themes/demo-15/demo15-login.html') Logout