.col-12.col-md-6.col-xxl-3.purchased-item
    .row.mx-auto.shadow-sm.py-2.mb-3.px-2
        .col-4.col-md-2.col-xxl-12.purchased-item-wrapper.border.py-2.mt-0
            img.img-fluid(src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6084/6084400_sd.jpg", alt="") 
        .col-8.col-md-10.col-xxl-12
            .row
                .col-12.mb-2
                    small
                        span.fw-bold.small.mb-0.purchased-item-title Apple AirPods w/ Wireless Charging Case
                    
            
            .row.small.align-items-md-end
                .col-6.col-xxl-5
                    small.text-muted.d-block.fw-bold Quantity
                    p.mb-0 100

                .col-6.col-xxl-7
                    .row.align-items-center
                        .col-12.text-end
                            small.text-muted.fw-bold Points:
                        .col-12.text-end
                            p.mb-0.search-results-item-price 106,370,000