.col-6.col-lg-4.mb-5.search-result-card
    .card.mb-2
        .favorite-item.text-end.pe-2
            i.bi-heart
        .card-body
            .shopping-img-wrapper.text-center
                img.search-item-thumbnail-img(src="", alt="")
    
    a.search-results-item-title.d-block.mb-2(href="item-details.html")
    .row.justify-content-around
        .col-sm-6
            p.mb-0 
                span.search-results-item-price
                small.text-muted  points
        .col-sm-6.text-md-end
            small.text-success
                span.on-sale On Sale Now!
        .col-12
            .in-store-pickup
                small
                    span.pe-1
                        i.bi-patch-check-fill.text-primary
                    span In-store Pickup Available