.col-12#shopping-cart__order-info-wrapper
    .row.align-items-end.mb-1
        .col-4.col-md-5.text-start
            small.fw-bold Order Total 
        .col-8.col-md-7
            .h2.mb-0.item-detail-price 127,637,900
    .row.align-items-end.mb-2
        .col-4.col-md-5.text-start
            small Remaing Points
        .col-8.col-md-7
            p.mb-0.item-detail-price 127,637,900
    .row
        .col-12.mb-2
            a.btn.btn-primary.w-100(href="./checkout.html") Checkout Now
        .col-12.text-center
            a(href="#") Continue Shopping